body {
  background-color: #e7e9fc;
  font-family: "Roboto", sans-serif;
}
.head {
  text-decoration: none;
}
.Web {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.studıo {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}
.page-menu-list a {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.page-menu-list li {
  list-style-type: none;
}
.page-menu-list a:hover {
  color: #404bbf;
}
.mailto {
  color:#434455 ;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none;
}
.mailto a:hover {
  color: #404BBF;
}
.tel {
  color:#434455 ;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-decoration: none
}
.Effective-solutions {
  font-family:"Roboto", sans-serif ;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #FFFFFF;
  background-color: #2E2F42;
}
.button-order-service{
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #FFFFFF;
  background-color:#4D5AE5 ;
}
.goals li {
  list-style-type: none;
}
.Strategy {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Strategy-p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#434455 ;
}
.Punctuality {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Punctuality-p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#434455 ;
}
.Diligence {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Diligence-p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#434455 ;
}
.Technologies {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Technologies-p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#434455 ;
}