body {
  background-color: #e7e9fc;
  font-family: "Roboto", sans-serif;
}
.head {
  text-decoration: none;
}
.Web {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
}
.studıo {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
}
.page-menu-list a {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 2%;
}
.page-menu-list li {
  list-style-type: none;
}
.page-menu-list a:hover {
  color: #404bbf;
}
.mailto {
  color:#434455 ;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 2%;
  text-decoration: none;
}
.mailto a:hover {
  color: #404BBF;
}
.tel {
  color:#434455 ;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 2%;
  text-decoration: none
}
.Effective-solutions {
  font-family:"Roboto", sans-serif ;
  font-weight: 700;
  font-size: 56px;
  line height: 3.75em; ;
  letter-spacing: 2%;
  color: #FFFFFF;
  background-color: #2E2F42;
}
.button-order-service{
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 4%;
  color: #FFFFFF;
  background-color:#4D5AE5 ;
}
.goals li {
  list-style-type: none;
}
.Strategy {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Strategy p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#434455 ;
}
.Punctuality {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Punctuality p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#434455 ;
}
.Diligence {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Diligence-p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#434455 ;
}
.Technologies {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Technologies p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#434455 ;
}
.Our-team {
  font-family:"Roboto", sans-serif ;
  font-weight: 700;
  font-size: 136x;
  line-height: 2.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Our-team li {
list-style-type: none;
}
.Our-team p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#434455 ;
}
.Our-team h3 {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Camila {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Daniel {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.Our-portfolio {
  font-family:"Roboto", sans-serif ;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5rem;
  letter-spacing: 2%;
  color:#2E2F42 ;
}
.App {
  list-style-type: none;
}
.App h3 {
  font-family:"Roboto", sans-serif ;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color : #2E2F42 ;
}
.App p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color : #434455 ;
}
.footer {
  background-color: #2E2F42 ;
}
.footer p {
  font-family:"Roboto", sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color : #E7E9FC ;
}
.web1 {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 3%;
}
.studıo1 {
  text-decoration: none;
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 3%;
}
.footer-href {
  text-decoration: none;
}